<mat-toolbar mat-dialog-title color="primary">
  <span class="linha-full">Login</span>
</mat-toolbar>


<form class="example-form">
  <mat-dialog-content>
    <p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Senha">
      </mat-form-field>
    </p>
  </mat-dialog-content>
</form>


<mat-dialog-actions>

  <button class="mat-button">Close</button>
  <button class="mat-button">Save</button>

</mat-dialog-actions>